@import url('https://fonts.googleapis.com/css?family=Nunito');
@import '~bootstrap/scss/bootstrap';
@import '~bootstrap-icons/font/bootstrap-icons';

.navbar {
    box-shadow: 1px 1px #ccc;
}

.card {
    &.coin {
        width: 350px;
        .card-header {
            .name {
                vertical-align: middle;
            }
        }
    }

    &.network-info {
        width: 350px;
        .card-header {
            .name {
                vertical-align: middle;
            }
        }
    }

    .card-body {
        font-size: 15px;
        .row {
            line-height: 2;
        }
        .changes {
            font-size: 90%;
            &.up {
                color: green;
            }
            &.down {
                color: red;
            }
        }
    }
}

