@import url('https://fonts.googleapis.com/css?family=Nunito');
@import '~bootstrap/scss/bootstrap';
@import '~bootstrap-icons/font/bootstrap-icons';

.custom-tooltip {
    --bs-tooltip-bg: var(--bs-primary);
}

.navbar {
    box-shadow: 1px 1px #ccc;
}

.currency-ico {
    vertical-align: top;
    width: 18px;
    height: 18px;
    padding: 0px;
    margin-top: 7px;
}

.top-logo {
    line-height: 1.2;
    @include media-breakpoint-down(md) {
        font-size: 30px !important;
    }
}

.homepage {
    .donate-model {
        .modal-body {
            overflow-wrap: anywhere;
        }
    }

    .card {
        height: auto;

        &.c1x {
            width: 350px;
        }

        &.c2x {
            width: 600px;
            height: 320px;
            @include media-breakpoint-down(lg) {
                width: 350px;
            }
        }

        .card-header {
            height: 45px;
            padding-top: 0px;
            padding-bottom: 0px;
            .name {
                vertical-align: middle;
                line-height: 45px;
            }
            .icon {
                font-size: 25px;
                vertical-align: middle;
            }
        }

        .card-body {
            font-size: 15px;
            &.scrollable {
                overflow: auto;
            }
            .row {
                line-height: 2;
                .bullet {
                    color: #6c757d;
                    border: 1px solid #6c757d;
                    padding: 5px;
                    line-height: 0.5;
                    height: 20px !important;
                    margin-top: 5px;
                    margin-right: 7px;
                    width: 70px;
                    text-align: center;

                    &.whale {
                        color: red;
                        border-color: red;
                    }
                }
            }
            .changes {
                font-size: 90%;
                &.up {
                    color: green;
                }
                &.down {
                    color: red;
                }
            }
        }

        &.top-transactions {
            height: 350px;
        }

        &.top-withdrawals {
            width: 360px;
            height: 350px;
            .bullet {
                width: 100px !important;
            }
        }

        &.validators {
            width: 280px;
            height: 350px;
            .bullet {
                width: 120px !important;
            }
            .row {
                a {
                    display: inline-block;
                }
            }
            @include media-breakpoint-down(lg) {
                width: 350px;
            }
        }

        &.chart {
            .card-body {
                padding-right: 0px;
            }
            .chart-title {
                font-size: 15px;
                margin-bottom: 5px;
                @include media-breakpoint-down(lg) {
                    font-size: 12px;
                    margin-bottom: 7px;
                }
            }
        }

        &.tdrop {
            height: 350px;
        }

        &.btc {
            height: 290px;
        }
    }
}

.account-page {
    .information {
        line-height: 2.2;
    }

    .stakes {
        &.mobile {
            th {
                padding: 2px;
            }
            td {
                padding: 2px;
            }
        }
    }

    .transactions {
        &.mobile {
            th {
                padding: 2px;
            }
            td {
                padding: 2px;
            }
        }
    }
}

.transactions-page {
    .transactions {
        &.mobile {
            th {
                padding: 2px;
            }
            td {
                padding: 2px;
            }
        }
    }
}

.nft-page {
    .drops {
        .sizer {
            width: 5%;

        }

        .drop {
            width: 5%;
            &:hover {
                cursor: pointer;
            }
        }

        .drop2 {
            width: 10%;
        }

        .drop3 {
            width: 20%;
        }

        .sales-chart {
            width: 400px;
            .chart-title {
                .row {
                    line-height: 25px;
                }
                .col {
                    font-size: 15px;
                }
                .currency-ico {
                    margin-top: 0px !important;
                }
            }
        }

        .img {
            width: 100%;
        }

        @include media-breakpoint-down(md) {
            .sales-chart {
                width: 100% !important;
            }

            .sizer {
                width: 10%;
            }

            .drop {
                width: 10%;
            }

            .drop2 {
                width: 15%;
            }

            .drop3 {
                width: 30%;
            }
        }
    }
}

.whales-page {
    .whales {
        .whale {
            width: 150px;
            height: 135px;
            border: 1px solid #dee2e6;
            border-radius: 1px;
        }
    }

    .not-found {
        text-align: center;
        margin-top: 70px;
    }
}

.page-message {
    width: 100%;
    text-align: center;
    line-height: 2;
    &.success {
        background-color: $info;
        color: $light
    }
    &.error {
        background-color: $warning;
        color: $dark
    }
}

